html {
	overflow: hidden;
	background-color: #000;
}

body {
	font-family: Georgia, Helvetica, sans-serif;
	font-size : 100%;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: justify;
	color: #fff;
	background-color: #000;
	margin: 0px;
}

img { margin: 0px; border: 0px; vertical-align: middle; }
td { vertical-align: middle; }

div.preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1100px;
	height: 150px;
	margin-top: -75px;
	margin-left: -550px;
	border: solid 0px gray;
	vertical-align: middle;
	display: none;
}
div.alkunatitle {
	position: absolute;
	background-image: url("../img/alkuna.png");
	left: 50%;
	top: 50%;
	width: 278px;
	height: 117px;
	margin-top: -58px;
	margin-left: -470px;
	padding: 0px;
}
div.loaderbar {
	background-image: url("../img/loader_middle.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
	width: 1px;
	height: 22px;
}

div.logo_pastille {
	display: none;
	position: absolute;
	top: 90%;
	left: 90%;
}
div.story {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -28px;
	margin-left: -160px;
}
div.title_background {
	display: none;
	position: absolute;
	width: 300%;
	top: 50%;
	margin-top: -245px;
}
div.title_front {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -300px;
}
div.whitescreen {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
}
