html {
	height: 100%;
	overflow: hidden;
	background-color: #000;
}

@font-face {
	font-family: "Yataghan";
	src: url('../../data/yataghan.ttf');
}

@font-face {
	font-family: "Petitscript";
	src: url('../../data/petitscript.ttf');
}

body {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: justify;
	color: #fff;
	background-color: #000;
	margin: 0px;
	height: 100%;
}

img { margin: 0px; border: 0px; vertical-align: middle; }
td { vertical-align: middle; text-align: center; }

div.totem {
	position: absolute;
	left: 5%;
	top: 0%;
	width: 85%;
	height: 400%;
}
div.darkup {
	position: absolute;
	left: 33%;
	top: 0%;
	width: 100%;
	height: 25%;
	opacity: 0.66;
}
div.darkleft {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 33%;
	height: 100%;
	opacity: 0.66;
}

div.button_login {
	position: absolute;
	left: 8%;
	top: 20%;
	width: 10%;
	height: 10%;
	vertical-align:middle;
	text-align:center;
}
div.button_gfx {
	position: absolute;
	left: 6.5%;
	top: 30%;
	width: 10%;
	height: 10%;
	vertical-align:middle;
	text-align:center;
}
div.button_snd {
	position: absolute;
	left: 5.5%;
	top: 40%;
	width: 10%;
	height: 10%;
	vertical-align:middle;
	text-align:center;
}
div.button_key {
	position: absolute;
	left: 5%;
	top: 50%;
	width: 10%;
	height: 10%;
	vertical-align:middle;
	text-align:center;
}
div.button_quit {
	position: absolute;
	left: 2%;
	top: 88%;
	width: 10%;
	height: 10%;
	vertical-align:middle;
	text-align:center;
}
img.img_login {
	cursor: pointer;
	width: 1px;
	height: 1px;
	margin-left:auto;
	margin-top:auto;
}
img.img_gfx {
	cursor: pointer;
	width: 1px;
	height: 1px;
	margin-left:auto;
	margin-top:auto;
}
img.img_snd {
	cursor: pointer;
	width: 1px;
	height: 1px;
	margin-left:auto;
	margin-top:auto;
}
img.img_key {
	cursor: pointer;
	width: 1px;
	height: 1px;
	margin-left:auto;
	margin-top:auto;
}
img.img_quit {
	cursor: pointer;
	width: 1px;
	height: 1px;
	margin-left:auto;
	margin-top:auto;
}

div.div_login {
	position: absolute;
	left: 30%;
	top: 10%;
	width: 60%;
	height: 14%;
}
div.div_gfx {
	position: absolute;
	left: 30%;
	top: 31%;
	width: 60%;
	height: 18%;
}
div.div_snd {
	position: absolute;
	left: 30%;
	top: 56%;
	width: 60%;
	height: 18%;
}
div.div_key {
	position: absolute;
	left: 30%;
	top: 81%;
	width: 60%;
	height: 18%;
}
div.div_std {
	position: absolute;
	width: 100%;
	height: 100%;
}

.opt_title {
	font-family: "Yataghan";
	font-size: 110%;
	font-weight: bold;
	margin: 0px;
}
.opt_note {
	font-family: "Petitscript";
	font-size: 120%;
	margin: 0px;
	margin-bottom: 5px;
}
.key_stroke {
	font-size: 90%;
	width: 70px;
	height: 30px;
	background-color: black;
	color: white;
	border: solid 1px silver;
	margin-right: 5px;
	margin-left: 5px;
	text-align : center;
	vertical-align: middle;
}
.key_TOstroke {
	font-size: 80%;
	width: 70px;
	height: 30px;
	background-color: white;
	color: black;
	border: solid 1px gray;
	margin-right: 5px;
	margin-left: 5px;
	text-align : center;
	vertical-align: middle;
}
div.error_msg {
	font-family: "Yataghan";
	font-size: 110%;
	font-weight: bold;
	color: red;
	opacity: 1.0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}
