body {
	background-color: #111;
	font-family: Georgia, serif;
	font-size: 100%;
	color: white;
	overflow: hidden;
}

* {
	margin: 0;
}
img.img_title {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top:50%;
	left: -100%;
}
table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	border-collapse: collapse;
}
td {
	padding: 0;
}
hr {
	margin: 10px 25px;
}

h1 {
	text-align: right;
	font-family: Georgia, serif;
	font-size: 150%;
	font-variant: small-caps;
	padding: 0 20px 0 20px;
	border-bottom: solid 1px #DDA000;
	color: #DDA000;
}

#std1380768 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1300px;
	height: 750px;
	margin-left: -650px;
	margin-top: -375px;
	background-color: #000;
}

div.bar {
	position: relative;
	display: block;
	height: 32px;
	text-align: center;
/*	border: solid 1px gray;*/
	font-family: Verdana, sans-serif;
	font-variant: small-caps;
}
div.bar #upbar {
	background-image:;
	background-repeat: x;
}
div.bar #downbar {
	background-image:;
	background-repeat: x;
}

div.content {
	display: block;
	width: 100%;
	height: 686px;
	overflow: hidden;
	position: relative;
	background-image: url("../img/texte.gif");
	background-repeat: repeat;
	background-position: 50% 0%;
	background-size: 100%;
}

div.slide {
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}

div.panel {
	position: absolute;
/*	padding: 15px;*/
	top: 50%;
	left: 50%;
/*	border: solid 1px gray;*/
	background-color: transparent;
	font-family: Verdana, sans-serif;
	max-width: 1260px;
	max-height: 680px;
/*	overflow: auto;
	overflow-x: hidden;*/
	font-size: 140%;
	box-shadow: 10px 10px 30px black;
}

ul.menuh a:link, a:visited {
	color : #FFD000;
	text-decoration : none;
}
ul.menuh a:hover, a:active {
	color : #FFFF00;
	text-decoration : none;
}
ul.menuh li {
	display : inline;
	padding : 0 1.0em;
	font-size: 1.5em;
	cursor: pointer;
}
ul.menuh {
	list-style-type : none;
	position: absolute;
	top: 0%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

div.dialog {
	position: absolute;
	text-align: right;
	padding: 15px;
	top: 50%;
	left: 50%;
	margin-left: -0px;
	margin-top: -0px;
	background-color: #ddd;
	color: black;
	border-radius: 10px;
	border: solid 3px #fff;
	opacity: 1;
	font-size: 140%;
	display: none;
}

fieldset {
	border: ridge 5px #DDA000;
	background-color: black;
}
legend {
/*	font-family: Georgia, serif;*/
	font-size: 140%;
	font-variant: small-caps;
	padding: 0 20px 0 20px;
	color: #FFA000;
	background-color: black;
	text-shadow: 0px 0px 3px #FFF000;
	border: ridge 1px #DDA000;
}

td.field {
	color: #EEE;
	font-variant: small-caps;
	vertical-align: middle;
}
td.value {
	padding-left: 10px;
	vertical-align: middle;
}
td.value span {
	font-weight: bold;
}
div.comment {
	padding-left: 5px;
	font-size: 50%;
	font-style: italic;
	color: silver;
	display: inline;
}
div.note {
	font-size: 50%;
	font-style: italic;
	color: silver;
	display: block;
	text-align: center;
}

input {
	font-family: Verdana, sans-serif;
	border: dashed 1px gray;
	border: none;
	background-color: #222;
	color: silver;
	height: 25px;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	font-size: 80%;
}
input:disabled {
	border: none;
	background-color: black;
}

div.square {
	float: left;
	display: inline-block;
	background-color: black;
	background-image: none;
	background-size: 100% 100%;
	width: 48px;
	height: 48px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
}

div.map {
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}